<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Converter</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="glass-card">
      <h2>Welcome {{ username }}</h2>
      <form method="post">
        <input type="number" name="amount" placeholder="Enter amount" required>
        <select name="from">
          {% for k,v in symbols.items() %}
          <option value="{{k}}">{{k}}</option>
          {% endfor %}
        </select>
        <select name="to">
          {% for k,v in symbols.items() %}
          <option value="{{k}}">{{k}}</option>
          {% endfor %}
        </select>
        <button type="submit">Convert</button>
      </form>
      {% if result %}
        <p class="result">Converted Amount: {{ result }}</p>
      {% endif %}
      <a href="{{ url_for('analysis') }}" style="color:white; display:block; margin-top:45px;">View Weekly Analysis</a>
    </div>
  </div>
</body>
</html>
