<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="glass-card">
      <h2>User Login</h2>
      <form method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="text" name="country" placeholder="Enter Country" required>
        <input type="number" name="age" placeholder="Enter Age" required>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
